<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.emsp.mapper.CardMapper">

    <select id="selectCardPage" resultType="com.yzy.emsp.domain.entity.Card">
        SELECT c.id,c.card_number as cardNumber, c.uid,c.user_id as userId,c.card_type as cardType ,
        c.balance,c.status,c.issue_date as issueDate,c.create_time as createTime,c.update_time as updateTime,
        a.contract_id as contractId,a.user_name as userName FROM `ev_card` c left JOIN ev_account a on c.user_id = a.id
        WHERE
        1=1
        <!-- 新增时间范围条件 -->
        <if test="cardQuery.startTime != null">
            AND c.update_time &gt;= #{cardQuery.startTime}
        </if>
        <if test="cardQuery.endTime != null">
            AND c.update_time &lt;= #{cardQuery.endTime}
        </if>
        ORDER BY
        c.update_time DESC  <!-- 按更新时间倒序 -->
    </select>

</mapper>
